ascii_mosaic/clean_ascii_imgs.ipynb
ascii_mosaic/florence/florence_ascii.gif
ascii_mosaic/obama.jpg
ascii_mosaic/obama.mp4
ascii_mosaic/obama/o.png
ascii_mosaic/obama/obama_clean.avi
ascii_mosaic/test_Text2Img.ipynb
ascii_mosaic/test_cropped.png
ascii_mosaic/test_full.png
ascii_mosaic/test_out.avi
ascii_mosaic/test_zoom.ipynb
ascii_mosaic/video_editing.ipynb
earth_layers/Untitled.ipynb
earth_layers/blackmarble_8mb.jpg
earth_layers/lights_only_blue.jpg
earth_layers/lights_only_green.jpg
earth_layers/lights_warped.png
earth_layers/pangea.png
earth_layers/pangea_warp.png
earth_layers/pangea_warped.png
earth_layers/population.jpg
earth_layers/population_density_orig.tif
earth_layers/processed.jpg
earth_layers/raw_earth.jpg
earth_layers/tectonics-pangea-animation.gif
math_gifs/toroid_revolver/toroid.gif
seam_carving/autocorrect_seam_carving.py
seam_carving/castle.jpg
seam_carving/lake/
watch_faces/Watch Alignment and Error Detection Software.docx
watch_faces/old/
watch_faces/results.zip